* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid pink;
}

body {
    display: grid;
    grid-template: 50px 1fr 50px / 1fr;
    height: 100vh;
    border: 5px red solid;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.4);
}